.butt{
    width :350px;
    height:50;
    background-color:rgb(24,119,242);
    color:white;
    font-family :"Arial";
    font-size:20px;
    border-radius :7px;
    border:10px;
}
.butt2{
    width :250px;
    height:50;
    background-color:rgb(66,184,42);
    color:white;
    font-family :"Arial";
    font-size:18px;
    border-radius :7px;
    border:10px;
}
.final{
    border:1px solid black;
    border:none;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px rgb(226, 222, 222);
    padding:15px;
    width:350px;
    background-color: white;
}
body{
    background-color: 
    rgb(240,242,245);

}